<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Number</title>
  </head>
  <body>
    <h1>Add Number</h1>
    <form action="/add" method="post">
      <label for="first_num">First Number:</label>
      <input
        type="number"
        id="first_num"
        name="first_num"
        required
      /><br /><br />
      <label for="second_num">Second Number:</label>
      <input type="number" id="second_num" name="second_num" required />
      <input type="submit" value="Calculate Sum" />
    </form>
  </body>
</html>
